.gameObjectBox {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  opacity: 1;
  transition: opacity 1.5s ease-out;
  cursor: pointer;
  .draw-line {
    /* pathLength="1" 기준 전체 길이 */
    stroke-dasharray: 1;
    stroke-dashoffset: 1; // 처음엔 안 보이게
  }
  
  &.off {
    opacity: 0;
  }

  &.is-drawing {
    #keyCap-A {
      opacity: 1;
      animation: keyCap-A 5s ease-out forwards;

      .draw-line {
        animation: game-draw 3s cubic-bezier(0, 0.26, 0, 0.96) forwards;
      }
    }
    #keyCap-B {
      opacity: 1;
      animation: keyCap-B 5s ease-out forwards;
      .draw-line {
        animation: game-draw 3.5s cubic-bezier(0, 0.26, 0, 0.96) forwards;
      }
    }
    #keyCap-C {
      opacity: 1;
      animation: keyCap-C 3s ease-out forwards;
      .draw-line {
        animation: game-draw 5s cubic-bezier(0, 0.26, 0, 0.96) forwards;
      }
    }
  }

  #keyCap-A {
    position: absolute;
    width: 8%;
    left: 45%;
    top: 60vh;
    transition: all 0.4s ease-in-out;
    opacity: 0;
  }

  #keyCap-B {
    width: 7%;
    left: 60%;
    top: 30vh;
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  #keyCap-C {
    width: 10%;
    left: 30%;
    top: 20vh;
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  .game-main-1 {
    animation: game-draw 2s cubic-bezier(0, 0.26, 0, 0.96) forwards;
  }
}

.mouse {
  position: absolute;
  width: 10%;
  left: 50%;
  transform: translate(-80%, -30%) rotate(-17deg);
}

@keyframes keyCap-A {
  from {
    left: 45%;
    top: 55vh;
  }
  to {
    left: 40%;
    top: 60vh;
  }
}

@keyframes keyCap-B {
  from {
    left: 58%;
    top: 35vh;
  }
  to {
    left: 60%;
    top: 30vh;
  }
}

@keyframes keyCap-C {
  from {
    left: 32%;
    top: 25vh;
  }
  to {
    left: 30%;
    top: 20vh;
  }
}

@keyframes game-draw {
  to {
    stroke-dashoffset: 0; // 끝까지 쭉 그려지기만
  }
}
