.introInterFace{
 position: relative;

 .BgImagePlaceholder{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    .stageImg{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: 100%;
        
        transition: all 5s ;
        &.up{
            transform:translate(-50%, -100%)
        }
    }


    .MicShadowImg{
        position: absolute;
         z-index: 2;
         bottom: 20vh;
         left: 52%;
         transform: translate(-60%, 0);
    }
 }
}

.startBtn{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
    opacity: 0.9;
    transition: all 1s ease-in-out;
    cursor: pointer;
    &.off{
        opacity: 0;
        pointer-events: none;
    }
}


button{
    position: fixed;
    top: 0;
    z-index: 100;
}

.subTitle{
    pointer-events: none;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    bottom: 10vh;
    color: aliceblue;
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
    // background-color: rgba(0, 0, 0, 0.5);
    &.helpText{
        bottom: 12vh;
        z-index: 999;
        color: gray;
    }
    
    &.on{
        opacity: 1;
    }
    &.off{
        opacity: 0;
    }
}